.ticket-form {
  width: 35%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #717171;
  background-color: #ededed;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ticket-form__title {
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  margin-bottom: 20px;
}

.ticket-form__label {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.ticket-form__input-name {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.ticket-form__input {
  height: 45px;
  padding: 0 15px;
  font-size: 18px;
  color: #717171;
  background-color: #ededed;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: 0.3s box-shadow ease-in-out;
}

.ticket-form__input:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.ticket-form__input:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.ticket-form__textarea {
  height: unset;
  padding: 15px;
  resize: none;
}

.ticket-form__btn-block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ticket-form__btn-cancel {
  margin-right: 15px;
}

.ticket {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: #717171;
  background-color: #ededed;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.ticket__view {
  display: flex;
  align-items: center;
  cursor: n-resize;
}

.ticket__view-check-label {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 5%;
  cursor: pointer;
}

.ticket__view-custom-check {
  display: block;
  width: 40px;
  height: 40px;
  background: url(77a32c30ccbca642a2b7.svg) center / cover no-repeat;
}

.ticket__view-checkbox:checked+.ticket__view-custom-check {
  background: url(2935f0a3acb002b4db10.svg) center / cover no-repeat;
}

.ticket__view-name {
  display: block;
  min-width: 60%;
  font-size: 20px;
}

.ticket__view-date {
  display: block;
  margin-right: 30px;
  font-size: 20px;
}

.ticket__view-btn-block {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.ticket__view-edit {
  display: block;
  width: 40px;
  height: 40px;
  border: 4px solid #717171;
  border-radius: 50%;
  margin-right: 30px;
  background: url(1c444ab4aa621831b5f7.svg) center/20px 20px no-repeat;
  transition: 0.3s transform ease-in-out;
  cursor: pointer;
}

.ticket__view-edit:hover {
  transform: rotate(-45deg);
}

.ticket__view-edit:active {
  transform: rotate(0deg);
  border: none;
  border-radius: unset;
  background: url(1c444ab4aa621831b5f7.svg) center/cover no-repeat;
}

.ticket__view-delete {
  display: block;
  width: 40px;
  height: 40px;
  border: 4px solid #717171;
  border-radius: 50%;
  background: url(eb01f17b9892aaba98ff.svg) center/20px 20px no-repeat;
  transition: 0.3s transform ease-in-out;
  cursor: pointer;
}

.ticket__view-delete:hover {
  transform: rotate(-360deg);
}

.ticket__view-delete:active {
  border: none;
  border-radius: unset;
  background: url(8d34608a80c957481a21.svg) center/cover no-repeat;
}

.ticket__descr {
  margin-left: calc(40px + 5%);
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: 0.2s grid-template-rows ease-in-out;
}

.ticket__descr.open {
  grid-template-rows: 1fr;
}

.confirm {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 20px;
  color: #717171;
  background-color: #ededed;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.confirm__title {
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  margin-bottom: 20px;
}

.confirm__descr {
  width: 100%;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

.confirm__descr_warning {
  color: #f48743;
}

.confirm__btn-block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.confirm__btn-cancel {
  margin-right: 15px;
}

.confirm__btn-block .confirm__btn-ok {
  color:  #f48743;
}

.helpdesk {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0787c7;
  border: 3px solid #62c0e6;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.helpdesk__add-ticket-btn {
  width: 220px;
  margin: 40px 40px 40px 0;
  padding: 12px 15px;
  display: block;
  align-self: flex-end;
  font-size: 18px;
  color: #efefef;
  border: 2px solid #efefef;
  border-radius:8px;
  background-color: transparent;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.helpdesk__add-ticket-btn:hover {
  border: 2px solid #f48743;
}

.helpdesk__add-ticket-btn:active {
  border: 2px solid #f48743;
  color: #f48743;
}

.helpdesk__list {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  color: #4d4d4d;
  background-color: #ededed;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.app-title {
  width: 85%;
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.root {
  width: 85%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 110px;
  padding: 7px 15px;
  display: block;
  font-size: 18px;
  color: #717171;
  background-color: #ededed;
  border: none;
  border-radius:8px;
  transition: 0.3s all ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.btn:active {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;
  background-color: #dadada;
}

